// Place all the styles related to the end_user::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual{
  width: 100%;
  height: 500px;
  background-image: image-url("/images/toranpu.jpg");
  background-size: cover;
  background-position: center;
}
.main-container{
  display: flex;
}
.side-menu{
  height: 700px;
  width: 25%;
  background-color: red;
}
.main-content{
  height: 700px;
  width: 75%;
  background-color: blue;
}
.news{
  overflow: scroll;
  background: #dc143c;
  height: 200px;
  text-align: center;
}
.site-menu{
  margin: 30px 10px;
  text-align: center;
}
.about-container{
  height: 1200px;
  background-image: image-url("/images/about.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.about-main-container{
  width: 600px;
  margin: auto;
  padding: 100px 0;
  background:rgba(255,255,255,0.5);
}
.font-property{
  color: blue;
  font-size: 15px;
  line-height: 1.5em;
}
.crown1{
  color: gold;
}
.crown2{
  color: silver;
}
.crown3{
  color:chocolate;
}
.rankingframe1{
  border:solid 5px gold;
}
.rankingframe2{
  border:solid 5px silver;
}
.rankingframe3{
  border:solid 5px chocolate;
}
.ranking-title{
  width: 250px;
}
.new-videos{
  width: 350px;
}
@media screen and (max-width: 639px){
 .main-visual{
  height: 300px;
 }

}

