// Place all the styles related to the end_user::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual{
  width: 100%;
  height: 500px;
  background-image: image-url("/images/toranpu.jpg");
  background-size: cover;
  background-position: center;
}
.main-container{
  display: flex;
}
.side-menu{
  height: 700px;
  width: 25%;
  background-color: red;
}
.main-content{
  height: 700px;
  width: 75%;
  background-color: blue;
}
.news{
  overflow: scroll;
  background: skyblue;
  height: 200px;
  text-align: center;
}
.site-menu{
  margin: 30px 10px;
  text-align: center;
}
.about-container{
  height: 1200px;
}
@media screen and (max-width: 639px){
 .main-visual{
  height: 300px;
}

 }

