<div class="about-container uk-width-1-1">
  <div class="about-main-container">
    <h1>MagiciansCircleとは</h1>
	<h2>マジシャンの交流の場</h2>
	<p class="font-property">マジックを始めたい人、マジックの練習をしたい人<br>
	  マジックの良さを知ってもらいたい人、マジックを見て貰いたい人<br>
	  そんな初心者から上級者までのマジシャン達の交流の場です。</p>
	<h2>マジックを究める</h2>
	<p class="font-property">マジックを初めてみたいけど、何から始めればいいのか分からない<br>
	  そんな時、まずは本サイトの投稿動画一覧から自分にあった動画を<br>
	  探してみてはいかがでしょうか。また、練習結果を投稿することで、<br>
	  動画に対するアドバイスなどの評価を受けることができます。
	</p>
	<h2>イベント情報</h2>
	<p class="font-property">イベント情報を知りたい場合、イベントカレンダーから予定のチェックが行えます。<br>
	  開催場所住所を登録することで、自動で開催場所のマップが表示されます。<br>
	</p>
  </div>
</div>
