<% if @video.limit == "公開" || end_user_signed_in? %>
  <%= render partial: "show.html",locals:{video: @video,video_tags: @video_tags,video_ratings: @video_ratings} %>
<% else %>
  <div class="private-container">
    この動画はプライベート設定がされています。
    ご視聴頂くには会員登録またはログインが必要です。
  </div>
<% end %>

<script>
  var start_time;
  var end_time;
  var video_time;
  var video = document.getElementById('mv');

  $(function(){
    $("#mv").on("loadedmetadata",function(){
      video_time = Math.floor(video.duration);//再生中常時現在時刻を取得

      $('#slider').slider({
        min: 0,
        max: video_time,
        step: 1,
        values: [0,video_time],
        range: true,
        change: function(e, ui) {  //スライダーの変化時に時間表示を更新
          var hms1 = toHms(ui.values[0]);
          var hms2 = toHms(ui.values[1]);
          $('#min').html(hms1);
          $('#max').html(hms2);
          start_time = ui.values[0];
          end_time = ui.values[1];
        },
        create: function(e, ui) { //スライダー初期化時に時間表示を反映
          var values = $(this).slider('option', 'values');
          var hms1 = toHms(values[0]);
          var hms2 = toHms(values[1]);
          $('#min').html(hms1);
          $('#max').html(hms2);
        }
      });
      video.addEventListener('timeupdate', function (e) {
        if(Math.floor(video.currentTime)　< start_time || Math.floor(video.currentTime) > end_time){//現在時刻が開始時刻より早い場合又は、現在時刻が終了時刻より大きい時
          video.currentTime = start_time;//現在時刻を開始時刻にする
        }
        if(Math.floor(video.currentTime) === end_time){//現在時刻が終了時刻になったら
          video.currentTime = start_time;//開始時刻に戻して再生
          video.play();
        }
      });
    });
  });

  $(function(){
    var id;
    $("#mv").one("play",function(){
      id = $("#video-id").data("id");
      $.ajax({
        url: `/end_user/video/${id}/count`,
        type: 'POST',
        data: {video_id: id},
        datatype: "html",
        success: function(data){
          $("#views").text(data);
        }
      });
    });
  });

  function toHms(t){
    var hms = "";
    var h = t / 3600 | 0;
    var m = t % 3600 / 60 | 0;
    var s = t % 60;

    if(h !== 0){
      hms = h + ":" + padZero(m) + ":" + padZero(s);
    }else if (m !== 0){
      hms = m + ":" + padZero(s);
    }else{
      hms = "0" + ":" + padZero(s);
    }

    return hms;

    function padZero(v){
      if(v < 10){
        return "0" + v;
      }else{
        return v;
      }
    };
  };
</script>


